<%if logged_in? %>

    <h1>Task一覧ページ</h1>
    <%# flash[:view_flash]='indexのviewにflash'%>
    <%# flash.now[:view_flash_now]='indexのviewにflash.now'%>

    <ul>
        <% @tasks.each do |task|%>
        <li>
            <%= link_to task.id, task %>:
            <%= task.content%>&gt;
            <%= task.status%>
            <%= link_to "cng", edit_task_path(task)%>
            <%= link_to 'del', task, method: :delete, data: { confirm: 'Task消しちゃいますよ？' } %>
        </li>
        <% end %>
    </ul>
    
    <div>
        <%= link_to "新規Task登録", new_task_path %>
    </div>
<%else%>
    
  <div class="center jumbotron">
    <div class="text-center">
      <h1>I am Tasklist</h1>
      <%= link_to 'Please Login!', login_path, class: 'btn btn-lg btn-primary' %>
    </div>
  </div>
    
<%end%>