<h1>Task一覧ページ</h1>
<% flash[:view_flash]='indexのviewにflash'%>
<% flash.now[:view_flash_now]='indexのviewにflash.now'%>

    <ul>
        <% @tasks.each do |task|%>
        <li>
            <%= link_to task.id, task %>:
            <%= task.content%>
            <%= link_to "cng", edit_task_path(task)%>
            <%= link_to 'del', task, method: :delete, data: { confirm: 'Task消しちゃいますよ？' } %>
        </li>
        <% end %>
    </ul>
    
    <div>
        <%= link_to "新規Task登録", new_task_path %>
    </div>